*{
    background-color: #E9F1FA;
}

.syntax{
    font-style: italic;
    font-weight: bold;
    color: #FF5F5F;
}

.title{
    text-align: center;
}

h1, h2, h3{
    color: #FFFFFF;
    background-color: #00ABE4;
    text-align: center;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

p{
    text-align: center;
    font-weight: bold;
}

a:hover{
    color:teal ;
}

/*Estilo de imagenes*/

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.img_tr{
    width: 480px;
    height: auto;
}

.img_td{
    width: 480px;
    height: auto;
}

.img_thead{
    width: 480px;
    height: auto;
}

.img_rowspan{
    width: 480px;
    height: auto;
}

.img_tbody{
    width: 480px;
    height: auto;
}

.img_th{
    width: 480px;
    height: auto;
}

.img_colspan{
    width: 480px;
    height: auto;
}

.img_tfoot{
    width: 480px;
    height: auto;
}

.img_table{
    width: 480px;
    height: auto;
}

.img_example{
    width: 830px;
    height: auto;
}

/*Estilo de la tabla*/
table {
    text-align: left;
    position: relative;
    border-collapse: collapse; 
    background-color: #f6f6f6;
  }/* Spacing */
  td, th {
    border: 1px solid #999;
    padding: 20px;
  }
  th {
    background: #00ABE4;
    color: white;
    border-radius: 0;
    position: sticky;
    top: 0;
    padding: 10px;
  }
  .primary{
    background-color: #000000
  }
  
  tfoot > tr  {
    background: black;
    color: black;
  }
  tbody > tr:hover {
    background-color: #ffc107;
  }

  .tabla{
    margin-left: auto;
    margin-right: auto;

  }

  nav{
    margin-left: auto;
    margin-right: auto;
  }

  footer{
     text-align: center;
     font-weight: bold;
     background-color: #00ABE4;
     height: 50%;
  }

  footer p {
    background-color: #00ABE4;
     color: #E9F1FA;
  }